WebAppAsignacion/Service References/ServicioColaborador/ColaboradorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioColaborador.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioColaborador.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfColaborador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Colaborador" nillable="true" type="tns:Colaborador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColaborador" nillable="true" type="tns:ArrayOfColaborador" />
  <xs:complexType name="Colaborador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Colaborador" nillable="true" type="tns:Colaborador" />
</xs:schema>